@import "../_variables.scss";

.content-page {
	min-height: 50vh;
	margin-bottom: 1rem;
}

table {
	border-collapse: collapse;
	width: auto;
}

th,
td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

th {
	background-color: #00c4ec;
	color: white;
}
