@import "../variables.scss";

.index {
	.col-xs-4 {
		display: grid;
		font-family: $AU-font;
		text-align: center;

		a {
			text-decoration: none;
		}
		a:hover {
			background-color: $AU-colordark-foreground-action;
			transition: 0.25s;
		}

		.icon {
			width: 96px;
			height: 96px;
		}
	}
}
