@import "../variables.scss";

.domain-name-table {
	table {
		border-collapse: collapse;
		width: auto;
	}

	th,
	td {
		text-align: left;
		padding: 8px;
	}

	tr:nth-child(even) {
		background-color: #f2f2f2;
	}

	th {
		background-color: #00c4ec;
		color: white;
	}
}

.card-row {
	padding-bottom: 1rem;
}
