@import "../variables.scss";

.index {
	.col-xs-4 {
		display: grid;
		font-family: $AU-font;
		text-align: center;

		a {
			text-decoration: none;
		}
		a:hover {
			background-color: $AU-colordark-foreground-action;
			transition: 0.25s;
		}

		.icon {
			width: 96px;
			height: 96px;
		}
	}
}

.domain-name-table {
	table {
		border-collapse: collapse;
		width: auto;
	}

	th,
	td {
		text-align: left;
		padding: 8px;
	}

	tr:nth-child(even) {
		background-color: #f2f2f2;
	}

	th {
		background-color: #00c4ec;
		color: white;
	}
}
