@import "../variables.scss";

.index {
	width: 100%;

	.container-fluid {
		margin: 0 auto;
		width: 50%;
	}

	.col-xs-4 {
		display: grid;
		margin: 1em;
		height: 196px;
		width: 196px;
		font-family: $AU-font;
		text-align: center;
		.icon {
			width: 128px;
			height: 128px;
			margin: 0 auto;
		}
	}
}
