.campaign-tile {
	.col-xl-2 {
		&.col-md-3 {
			background-color: #ffffff;
			border-bottom: 3px solid #bcbcbc;
			color: #313131;
			margin: 0.25rem;
			height: 21rem;

			img {
				width: 268px;
				height: 160px;
			}
		}
	}
}
