@import "../_variables.scss";

.card-link {
	.card {
		box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
		border-radius: 0.25rem;
		padding: 1rem;
		margin-bottom: 2rem;

		&:hover {
			transition: 0.5s;
			box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);

			.card__text {
				text-decoration: none;
			}
		}

		&.card--purple-light {
			border-top: solid 5px $purple-light;
			&:hover {
				background: $purple-light-hover;
			}
		}

		&.card--purple {
			border-top: solid 5px $purple;
			&:hover {
				background: $purple-hover;
			}
		}

		&.card--green {
			border-top: solid 5px $green;
			&:hover {
				background: $green-hover;
			}
		}
	}
}

.col-md-4 {
	.card-link {
		text-decoration: none;
	}
}
