@import "../_variables.scss";

@mixin card-style-generator($color, $color-hover) {
	border-top: solid 5px $color;
	&:hover {
		background: $color-hover;
	}
}

a.card {
	box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 0.25rem;
	@include AU-space(padding, 0unit 1unit 1unit 1unit);
	@include AU-space(margin-bottom, 2unit);
	display: block;
	border-bottom: none;
	.au-body & {
		text-decoration: none;
	}

	&:hover {
		transition: 0.5s;
		box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);

		.card__text {
			text-decoration: none;
		}
	}

	&.card--purple-light {
		@include card-style-generator($purple-light, $purple-light-hover);
	}

	&.card--purple {
		@include card-style-generator($purple, $purple-hover);
	}

	&.card--green {
		@include card-style-generator($green, $green-hover);
	}

	&.card--plain {
		@include card-style-generator($blue, $blue-hover);
	}

	.card__image {
		@include AU-space(padding-top, 1unit);
	}
}
