.au-footer .au-footer--dark {
	margin: 0;
	bottom: 0;
	width: 100%;
	border-top: none;
}

.au-footer__end {
	margin-left: 16px;
	margin-right: 16px;
}

.au-link-list {
	padding: 0;
	margin-left: 16px;
	margin-right: 16px;
}

.licenseLink {
	width: 16px;
	height: 16px;
	margin-left: 5px;
	vertical-align: middle;
}
