@import "../_variables.scss";

.au-header {
	padding-left: 16px !important;
	background-color: #212121 !important;
	border-bottom: 0.25rem solid $text-underline;

	.header-logo > img {
		width: 256px;
		height: 48px;
	}
}

.au-header__text {
	text-decoration: none !important;
}

.au-header__brand {
	border-bottom: none;
}

.au-header__brand-image {
	filter: invert(100%);
}

.au-header__text,
.au-header__heading,
.au-header__subline {
	color: white !important;
	font-weight: normal !important;
}

.official-banner {
	border-bottom: solid 0.25rem $banner-border-bottom;
	padding: 0.5rem;
	text-align: center;
	font-family: $AU-font;

	a {
		text-decoration: none;
		color: black;
	}
}

.alpha-badge {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 0.75rem;
	font-weight: normal;
	border: solid 1px #fff;
	border-radius: 2em;
	vertical-align: text-top;
}
