@import "../_variables.scss";

.au-header {
	padding-left: 16px !important;
	padding-right: 16px !important;
	background-color: #212121 !important;
}

.au-header__text {
	text-decoration: none !important;
	margin-left: $AU-logo-width-sm - 3unit !important;
}

.au-header__brand-image {
	-webkit-filter: invert(100%);
}

.au-header__text,
.au-header__heading,
.au-header__subline {
	color: white !important;
}

.offical-banner {
	z-index: 1;
	display: block;
	background-color: black;
	height: 40px;

	.au-accordion {
		width: auto;
		height: 24px;
		padding: 0 !important;
		margin: 0;
		float: left;
		border: none;
	}

	.au-accordion > a {
		height: 24px;
		background-color: black;
		color: white;
		text-decoration: none;
		text-anchor: middle;
	}

	.au-accordion__title {
		font-size: 14px;
		font-weight: normal;
	}

	.au-accordion__body-wrapper {
		background-color: black;
		color: white;
	}

	.banner-link {
		float: right;
		color: white;
		margin-right: 16px;
		margin-top: 12px;
		font-size: 14px;
		font-family: $AU-font;
	}
}
