@import "../_variables.scss";

.au-header {
	padding-left: 16px !important;
	padding-right: 16px !important;
	background-color: #313131 !important;
	border-bottom: 0.25rem solid $text-underline;
}

.au-header__text {
	text-decoration: none !important;
}

.au-header__brand {
	width: 100%;
	border-bottom: none;
}

.au-header__brand-image {
	filter: invert(100%);
	height: 7rem;
}

.au-header__text,
.au-header__heading,
.au-header__subline {
	color: white !important;
	font-weight: normal !important;
}

.offical-banner {
	height: 48px;
	background-color: #212121;

	.offical-title {
		font-weight: bold;
		font-size: 0.75rem;
	}

	.offical-subline {
		text-decoration: underline;
		font-size: 0.75rem;
	}

	.offical-logo img {
		width: 16px;
		height: 16px;
		vertical-align: sub;
	}

	.offical-link {
		float: right;
		color: white;
		margin-right: 16px;
		margin-top: 12px;
		font-size: 14px;
		font-family: $AU-font;
		font-size: 0.75rem;
	}

	.au-accordion {
		float: left;
		border: none;
	}

	.au-accordion > a {
		padding: auto;
		background-color: #212121;
		color: white;
		text-decoration: none;
		text-anchor: middle;
	}

	.au-accordion__title {
		font-size: 14px;
		font-weight: normal;
		border-bottom: none;
	}

	.au-accordion__body-wrapper {
		background-color: #212121;
		color: white;
		border: none;
		width: 100%;
	}
}

.alpha-badge {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 0.75rem;
	font-weight: normal;
	border: solid 2px #fff;
	border-radius: 2em;
	vertical-align: text-bottom;
}
