@import "../_variables.scss";

.header {
	.au-header {
		background-color: #212121;
		border-bottom: 0.25rem solid $text-underline;

		//Work in progress, will need to implement grid system.
		@media (min-width: 768px) {
			padding-left: 3.5rem;
		}

		padding-left: 1.5rem;

		.header-logo img {
			width: 14rem;
		}

		.au-header__brand {
			border-bottom: none;

			.au-header__brand-image {
				filter: invert(100%);
				width: 12rem;
			}

			.au-header__text {
				width: 100%;
				&,
				div {
					color: white;
					text-decoration: none;
				}
			}
		}
	}

	.official-banner {
		border-bottom: solid 0.25rem $banner-border-bottom;
		padding: 0.5rem;
		text-align: center;
		font-family: $AU-font;
		color: black;

		a {
			text-decoration: none;
			color: black;
		}
	}

	.alpha-badge {
		padding-left: 5px;
		padding-right: 5px;
		font-size: 0.75rem;
		font-weight: normal;
		border: solid 1px #fff;
		border-radius: 2em;
		vertical-align: super;
	}
}
