@import "../_variables.scss";

.header {
	.au-header {
		background-color: #212121;
		border-bottom: 0.25rem solid $text-underline;
		padding: 1rem;

		.header-logo img {
			width: 14rem;
		}

		.au-header__brand {
			border-bottom: none;
			width: 100%;

			.au-header__brand-image {
				filter: invert(100%);
				width: 12rem;
			}

			.au-header__text {
				&,
				div {
					color: white;
					text-decoration: none;
				}
			}
		}
	}

	.official-banner {
		border-bottom: solid 0.25rem $banner-border-bottom;
		padding: 0.5rem;
		font-family: $AU-font;
		color: black;
		text-align: center;

		p {
			margin: 0;
		}

		a {
			text-decoration: none;
			color: black;
		}
	}

	.alpha-badge {
		padding-left: 5px;
		padding-right: 5px;
		font-size: 0.75rem;
		font-weight: normal;
		border: solid 1px #fff;
		border-radius: 2em;
		vertical-align: super;
	}
}
