// Light palette
// ==============
$AU-color-foreground-action: #00698f !default;
$AU-color-foreground-focus: #9263de !default;
$AU-color-foreground-text: #313131 !default;
$AU-color-background: #ffffff !default;

// Dark palette
// ==============
$AU-colordark-foreground-action: #61daff !default;
$AU-colordark-foreground-focus: #c390f9 !default;
$AU-colordark-foreground-text: #ffffff !default;
$AU-colordark-background: #135e70 !default;

$text-underline: #00c3ef;
$banner-border-bottom: #d56a40;

// card styles
$purple-light: #912b87;
$purple-light-hover: #edddec;
$purple: #5f43ac;
$purple-hover: #e8e4f3;
$green: #32a556;
$green-hover: #def0e4;
$blue: #00c3ef;
$blue-hover: #00c3ef27;

@import "_uikit.scss";