// Light palette
// ==============
$AU-color-foreground-action: #00698f;
$AU-color-foreground-focus: #9263de;
$AU-color-foreground-text: #313131;
$AU-color-background: #ffffff;

// Dark palette
// ==============
$AU-colordark-foreground-action: #61daff;
$AU-colordark-foreground-focus: #c390f9;
$AU-colordark-foreground-text: #ffffff;
$AU-colordark-background: #313131;

$text-underline: #00c3ef;
$banner-border-bottom: #d56a40;

// card styles
$purple-light: #912b87;
$purple-light-hover: #edddec;
$purple: #5f43ac;
$purple-hover: #e8e4f3;
$green: #32a556;
$green-hover: #def0e4;
$blue: #00c3ef;
$blue-hover: rgba(#00c3ef, 0.1);

@import "_uikit.scss";
