@import "../_variables.scss";

body,
html {
	margin: 0;
	padding: 0;
}

h1 {
	@include AU-fontgrid(xl, heading);
}
h2 {
	@include AU-fontgrid(lg, heading);
}

.app-container {
	margin: 0;
	padding: 0;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.container-fluid {
	@include AU-space(max-width, 72unit);
}

.au-body {
	padding: 16px;
	flex: 1;
	p {
		a {
			text-decoration: none;
		}
		a:hover {
			color: $AU-colordark-foreground-action;
		}
	}
}

a {
	color: white;
	text-decoration: none;
	border-bottom: 1px solid $text-underline;
}

a:hover {
	color: $AU-colordark-foreground-action;
}
