@import "../_variables.scss";

body,
html {
	margin: 0;
	padding: 0;
}

.container-fluid {
	@include AU-space(max-width, 72unit);
}

.root {
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	p {
		a {
			text-decoration: none;
		}
		a:hover {
			color: $AU-colordark-foreground-action;
		}
	}
}

a {
	color: white;
	text-decoration: none;
	border-bottom: 1px solid $text-underline;
}

a:hover {
	color: $AU-colordark-foreground-action;
}
